body{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;;
    background: url(ImagesP/Bread.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 75px;
    max-width: 160px;
    margin: auto;
    text-align: center;
    font-size: 12.5px;
    font-family: Georgia;
    background-color: rgb(245, 247, 240);
  }
  .card{
    transition: all 0.3s;
  }
  .card:hover{
    transform: scale(1.15);
  }
  .price {
    font-size: 15px;
    color: rgb(168, 13, 13);
  }
  
  .card button {
    border-radius: 75px;
    outline: 0;
    padding: 3px;
    color: white;
    background-color: rgb(41, 40, 38);
    text-align: center;
    cursor: pointer;
    width: 30%;
    font-size: 11px;
    font-family: Georgia;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  .card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: fill;
  }

  .header {
    list-style: none;
    color: rgb(15, 15, 15);
    margin-top: -1%;
    margin-left: -.1%;
    background-size: 100px;
    background-color: white;
    width: 110%;
    height: 90px;
  }

  .top {
    color: rgba(14, 13, 13, 0.671);
    list-style: none;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1%;
    padding: 8px;
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 33%;
    margin: 6px;
    margin-top: 3%;
    top: 10px;
  }

  .top a {
    text-decoration: none;
    color: rgba(102, 97, 97, 0.671);
    text-transform: capitalize;
  }

  .top::after {
    color: black;
    content: '';
    height: 3px;
    width: 0;
    background: red;
    position: absolute;
    bottom: 3px;
    left: 0;
    transition: 0.5s;

  }

  .top:hover::after {
    color: black;
    width: 100%;

  }

  .logo {
    font-size: 2.5rem;
    position: relative;
    left: -8%;
    font-size: 35px;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.card-column{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.tables-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    z-index: 1000;
}
   
   table {
        list-style: none;
        color: rgb(15, 15, 15);
        margin-top: -1%;
        margin-left: -.1%;
        background-size: 100px;
        background-color: transparent;
        width: 110%;
        height: 90px;
    background-repeat: no-repeat;
    
   }

   .menu {
    color: rgba(14, 13, 13, 0.671);
    list-style: none;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1%;
    padding: 8px;
    display:inline-block;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 33%;
    margin: 6px;
    margin-top: 3%;
    top: 10px;
    transition: 0.5s;
  }

  .menu a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.671);
    text-transform: uppercase;
    border: 2px solid white;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    transition: 0.5s;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }

  .menu::after {
    color: black;
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    bottom: 3px;
    left: 0;
    transition: 0.5s;

  }

  .menu:hover::after {
    color: black;
    width: 83%;
  }

  input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 80%;
  }